{% extends 'base.html.twig' %}

{% block title %}Hello VerificationController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Diamant noir/Desktop/app_block/src/Controller/VerificationController.php'|file_link(0) }}">src/Controller/VerificationController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Diamant noir/Desktop/app_block/templates/verification/index.html.twig'|file_link(0) }}">templates/verification/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
