{% extends 'base.html.twig' %}

{% block title %}Ma page d'accueil!{% endblock %}

{% block body %}
<div class="example-wrapper">
 <div class="bg-image" style="background-image: url('{{asset('/images/articles/banner-3.jpg')}}'); height:500px; background-position: center; background-repeat: no-repeat; background-size: cover;">

<br><br><br><br><br><br>
<p style=" font-size:30px"> aujourd'hui on est le:{{ "now"| date("m/d/y")}}</p>
    <h1 style="text-align:center; font-size:80px">Hello {{ controller_name | capitalize }}! </h1>

    {# <img src="{{asset('/images/articles/'~ j.nomFichier)}}" style="width:100px"  class="thumb-image" alt=""> #}
                   
    
</div>
{% endblock %}
