{% extends 'baseAdmis.html.twig' %}


{% block title %}Hello adminController!{% endblock %}

{% block body %}
<br><br><br><br>

<div class="example-wrapper">
            <div class="bg-image" style="background-image: url('{{asset('/images/articles/blog-6.jpg')}}'); height:500px;font-size:100%;background-position: center; background-repeat: no-repeat; background-size: cover;">
        <h1 class="text-danger text-center" style="font-size:50px" ><br><br><br><br><br>ESPACE RESSERVER AUX ADMINISTRATEURS</h1>
    <div>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}

