{% extends 'base.html.twig' %}

{% block title %}Hello Login{% endblock %}

{% block body %}
   
    <h2>salut{{controller_name}}</h2>
     <div class="container">

     <br><br> <br><br> <br><br>

                 
    {% if erreur %}
        <div class="alert alert-danger">{{ erreur.messageKey|trans(erreur.messageData, 'security') }}</div>
    {% endif %}

        <form method='post' action="{{path('app_login')}}">

                <div class="form-group">
                    <label for='email'>Adresse Email</label>
                    <input type='Email' name='_username' class="form-control"  value={{last}}/>
                </div>
                <div class="form-group">
                    <label for='pass'>mot de passe</label>
                    <input type='password' name='_password' class="form-control"/>
                </div>
                
                    <div class="form-group">
                    <input type='submit' value='valider' class="btn btn-primary width=50px" />
                    </div>

        </form>
        </div>
        </div>
             
{% endblock %}
